@import 'styles/responsive';
@import 'styles/utilities';

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
  @include mobile {
    justify-content: flex-start;
    flex-grow: 1;
  }

  :global {
    .MuiButton-root {
      margin-right: auto;
      @include mobile {
        display: none;
      }
    }
    .mobile-add-button {
      position: fixed;
      right: 17px;
      bottom: 44px;
    }
  }
}
