@import 'styles/variables';
@import 'styles/responsive';

.invoiceForm {
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  :global {
    .MuiInputBase-input {
      max-height: 56px;
      background-color: #fff;
      input::placeholder {
        color: #000;
      }
    }
    .MuiInputAdornment-root,
    .MuiInputBase-root {
      background-color: #fff;
    }
    .section-base {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    .section-items,
    .section-expenses {
      display: flex;
      flex-direction: column;
      .item,
      .expense {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr) 1.3fr;
        margin-bottom: 20px;
        @include mobile {
          grid-template-columns: 1fr;
          border-bottom: 1px solid $color-neutral-dark;
          padding-bottom: 20px;
        }

        & > div:last-child {
          display: grid;
          grid-template-columns: 1fr 90px;
          .amount {
            display: flex;
            flex-direction: column;
          }
        }

        .delete-icon {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding-top: 23px;
          justify-content: center;
        }
      }
      .expense {
        grid-template-columns: 1fr 1.3fr;
        @include mobile {
          grid-template-columns: 1fr;
        }
      }

      .new-item-button,
      .new-expense-button {
        margin-left: auto;
        text-transform: initial;
      }
    }
    .section-billing {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      .MuiInputBase-input {
        cursor: no-drop;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    .section-payment {
      display: grid;
      grid-template-columns: 50%;
      padding-right: 20px;
      gap: 20px;
      .account-info {
        display: flex;
        align-items: flex-start;
        gap: 70px;
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    .section-total {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 20px;
    }
    .section-notes {
      display: grid;
      grid-template-columns: 50%;
      padding-right: 20px;
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    .section-finale {
      display: flex;
      gap: 20px;
      margin-bottom: 34px;
      align-items: center;
      flex-wrap: wrap;
      .MuiButton-root {
        text-transform: initial;
        height: 48px;
        &:not(:last-child) {
          width: 157px;
        }
        &:last-child {
          margin-left: auto;
        }
      }
      @include mobile {
        .MuiButton-root {
          &:not(:last-child) {
            width: calc(50% - 10px);
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }
    .section-schedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > div:first-child {
        height: 150px;
      }
      & > div:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .MuiButton-root {
          text-transform: initial;
          height: 48px;
        }
      }
      @include mobile {
        grid-template-columns: 1fr;
        & > div:first-child {
          height: 100px;
        }

        .MuiButton-root {
          width: 100%;
        }
      }
    }
  }
}

.no_data {
  flex-flow: column nowrap;
}
