@import '../../styles/variables';

.dashboard {
    :global {
        .cards {
            margin: 2rem 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 1rem;
    
            .card {
                flex: 1 1 22%;
            }

            .card-value {
                color: $color-primary;
                font-size: 2rem;
                font-weight: bold;
            }

        }

        .graphs-cards{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 2rem;

            .card {
                flex: 1 1 42%;
            }

            .card-title{
                font-size: 1.5rem;
                font-weight: bold;
            }

            .horizontal-graph{
                width: 100%;
                //height: 200px;
            }

            .incomeIcon path{
                color: $color-secondary;
                transform: translateY(7px);
            }

            .graph-caption{
                text-align: center;
            }

            .total-value{
                text-align: center;
                font-weight: bold;
            }

            .graph-container{
                display: flex;
                flex-flow: row nowrap;
                padding-top: 1rem;
            }

            .vertical-graph{
                width: 55%;
                height: 55%;
                padding: 0;
            }

            .final-invoiced{
                color: $color-primary;
            }

            .final-payments{
                color: $color-secondary-dark;
            }

            .final-overdue{
                color: $color-accent;
            }

            .final-value{
                font-weight: bold;
                padding-bottom: 1rem;
            }

            .final-values{
                padding: 0;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
            }
            
            
        }

        .tables{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 2rem;
            padding-top: 2rem;

            .table {
                flex: 1 1 42%;
                width: 50%;

                td p:first-child{
                    font-weight: bold;
                }
            }
        }

        .buttons{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 37%;
            padding: 2rem 0;
        }
    }
    

    
}

