@import '../../styles/variables';
@import 'styles/responsive';

.dashboard {
    
    :global {

        .application-filters{
            @include phone {
                justify-content: flex-end;
            }
        }

        .cards {
            margin: 2rem 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 2rem;

            @include phone {
                gap: 1rem;
                margin: 1rem 0;
            }

            .dashboard-card {
                flex: 1 1 22%;
                @include phone {
                    min-width: 45%;
                }
            }

            .card-value {
                color: $color-primary;
                font-size: 2rem;
                font-weight: bold;
                @include phone {
                    font-size: 1.5rem;
                }
            }

            .card-label{
                @include phone {
                    font-size: 0.9rem;
                }
            }

        }

        .graphs-cards{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 2rem;

            @include phone {
                flex-flow: row wrap;
                gap: 1rem;
            }

            .graph-card {
                flex: 1 1 45%;

                @include phone {
                    flex: 1 1 100%;
                }
            }

            .card-title{
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 1rem;
                @include phone {
                    font-size: 1.2rem;
                }
            }

            .horizontal-graph{
                width: 100%;
            }

            .incomeIcon path{
                color: $color-secondary;
                transform: translateY(7px);
            }

            .graph-caption{
                text-align: center;
            }

            .total-value{
                text-align: center;
                font-weight: bold;
            }

            .graph-container{
                display: flex;
                flex-flow: row nowrap;
                padding-top: 1rem;

                @include phone {
                    flex-flow: row wrap;
                    padding-top: 0;
                }
            }

            .vertical-graph{
                width: 100%;
                padding: 0;

                @include phone {
                    width: 75%;
                }
            }

            .final-invoiced{
                color: $color-primary;
                @include phone {
                    font-size: 0.6rem;
                }
            }

            .final-payments{
                color: $color-secondary-dark;
            }

            .final-overdue{
                color: $color-accent;
            }

            .final-value{
                font-weight: bold;
                padding-bottom: 1rem;
            }

            .final-values{
                padding: 0 0 0 2rem;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;

                @include phone {
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    padding: 2rem 0 0 0;
                    font-size: 1rem;
                }

                div{
                    @include phone {
                        text-align: center;
                    }
                }
            }
            
            
        }

        .tables{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            padding-top: 2rem;

            @include phone {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                padding-top: 1rem;
                gap: 1rem;
            }

            .table {
                width: 100%;

                @include phone {
                    flex: 1 1 100%;
                    width: 50%;
                }

                td p:first-child{
                    font-weight: bold;
                }

                .tag{
                    justify-self: flex-start;
                }

                &:nth-of-type(2){
                    @include phone {
                        order: 2;
                    }
                }

            }

            .button{
                 justify-self: flex-end;
                 margin-left: 26%;

                @include phone {
                    margin-bottom: 1rem;
                }

                &:first-of-type{
                    @include phone {
                        order: 1;
                    }
                }

                &:nth-of-type(2){
                    @include phone {
                        order: 3;
                    }
                }
             }
        }

        .buttons{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 37%;
            padding: 2rem 0;
        }
    }
    
}

.empty_dashboard{
    :global {
        .empty-title{
            font-weight: bold;
            font-size: 1.2rem;
            padding: 1rem 1rem 1.5rem 3rem;
        }

        .MuiListItem-root, .MuiListItemButton-root{
            max-height: 70px;
            padding: 0;
        }

        svg{
            transform: scale(0.4, 0.4);
            background-color: $color-secondary-light;
            border-radius: 70px;
        }
    }

    @include phone {
        padding: 0;
    }
}