@import 'styles/responsive.scss';

.invoicePreview {
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  :global {
    .preview-header {
      margin-bottom: 17px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      h2 {
        margin-right: auto;
      }
      svg {
        cursor: pointer;
      }
    }
    #invoice-preview-container {
      @include phone {
        min-width: 1000px;
      }
    }
    .invoice-preview-img {
      @include desktop {
        display: none;
      }
    }
    .preview-wrapper {
      opacity: 0;
      &.hide {
        display: none;
      }
      @include desktop {
        opacity: 1;
        display: initial;
        &.hide {
          display: initial;
        }
      }
    }
    .MuiButton-root {
      text-transform: initial;
      height: 48px;
      &:not(:last-child) {
        width: 157px;
      }
      &:last-child {
        margin-left: auto;
      }
    }
    .section-finale {
      display: flex;
      margin: 2rem 0;
      justify-content: flex-end;
      margin-bottom: 34px;
    }

    .section-schedule {
      display: grid;
      grid-template-columns: 1fr 1fr;
      & > div:first-child {
        height: 150px;
      }
      & > div:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .MuiButton-root {
          text-transform: initial;
          height: 48px;
        }
      }
    }
  }
}
