.projectForm {
  padding: 16px 40px 40px 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  :global {
    .form-item {
      width: 100%;
      margin: 16px 0;

      @media screen and (min-width: 900px) {
        width: 450px;
      }
    }

    .section-finale {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;

      @media screen and (min-width: 900px) {
        width: 450px;
      }
    }

    .MuiInputBase-input {
      max-height: 56px;
      background-color: #fff;
      input::placeholder {
        color: #000;
      }
    }
    .MuiInputAdornment-root,
    .MuiInputBase-root {
      background-color: #fff;
    }
  }
}

.no_data{
  flex-flow: column nowrap;
}