.button {
  @extend .action;
  height: 48px;
  text-transform: inherit;
}

.table {
  .MuiTableRow-head {
    background-color: $color-primary-light;
  }
  .MuiTableCell-head {
    @extend .bodyM, .bold;
    font-size: 16px;
  }
  .MuiTableCell-root {
    @extend .bodyM;
    font-size: 16px;
  }
}

.select {
  @extend .bodyM;
  min-width: 120px;
}
