* {
  font-family: $main-font-family;
}

.h1 {
  font-weight: 800;
  line-height: 125%;
  letter-spacing: -0.02em;
  font-size: 32px;

  @include desktop {
    font-size: 40px;
    line-height: 100%;
  }
}

.h2 {
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 24px;
  line-height: 125%;
  @include desktop {
    font-size: 32px;
    line-height: 100%;
  }
}

.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  @include desktop {
    font-size: 24px;
  }
}

.bodyL {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  @include desktop {
    font-size: 20px;
    line-height: 24px;
  }
}

// Body Regular
.bodyM {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @include desktop {
    font-size: 18px;
    line-height: 150%;
  }
  // Body Regular bold .bodyM.bold
  &.bold {
    font-weight: 700;
  }
}

.bodyS {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  @include desktop {
    font-size: 16px;
    line-height: 140%;
  }
}

.caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include desktop {
    font-weight: 600;
  }
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
}

// button typography styles
.action {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
