// Color Palette
$color-primary: #4b4ded;
$color-primary-light: #e3e3fc;
$color-primary-alt: #1417cc;
$color-primary-dark: #222377;
$color-secondary: #68d9cf;
$color-secondary-light: #d7f4f1;
$color-secondary-dark: #25a79c;
$color-tertiary: #1c284e;
$color-neutral-light: #f5f7f9;
$color-neutral: #f9fafb;
$color-neutral-alt: #e5eaf0;
$color-neutral-dark: #cbd5e0;
$color-accent: #f08357;
$color-accent-light: #fdeee8;
$color-light-variant-2: #c3eeeb;


$main-font-family: 'Inter';
$drawer-size: 217px;
