.clientForm {
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  :global {
    .form-item {
      width: 400px;
      margin: 16px 0;
    }

    .section-finale {
      width: 400px;
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
    }

    .MuiInputBase-input {
      max-height: 56px;
      background-color: #fff;
      input::placeholder {
        color: #000;
      }
    }
    .MuiInputAdornment-root,
    .MuiInputBase-root {
      background-color: #fff;
    }
  }
}
