@import 'styles/variables';
@import 'styles/responsive';
@import 'styles/typography';

.mobile :global {
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  .mobile-caption {
    background-color: $color-primary-light;
    padding: 12px 21px;

    .selectable {
      padding-left: 0;
      width: 42px;
      height: 24px;
      display: inline-flex;
      justify-content: flex-start;
    }
  }

  .entry-card {
    display: grid;
    grid-template-columns: 42px auto 42px;
    padding: 16px 21px;
    border-bottom: 1px solid $color-light-variant-2;
    .details {
      display: flex;
      flex-direction: column;
    }
    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }

    .MuiButtonBase-root,
    .MuiCheckbox-root {
      padding-top: 0;
    }
    .MuiCheckbox-root {
      padding-left: 0;
    }
  }
}

.desktop :global {
  .selectable,
  .action-button {
    min-width: 74px;
    width: 74px;
  }

  th {
    height: 56px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: $color-light-variant-2;
  padding: 0 20px;
  border-radius: 6px;
  margin-bottom: 3px;
  border: 1px solid #d9d9d9;
  border-width: 1px 0px;
}
